.root_icon {
    background-color: #ccc;
    z-index: 1;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.active_icon {
    background-image: linear-gradient( 136deg, #2EAAF2 30%, #1F75A6 60%, #134866 100%);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.25)
}
.completed_icon {
    background-image: linear-gradient( 136deg, #2EAAF2 30%, #1F75A6 60%, #134866 100%);
}

.line_conn {
    height: 3px;
    border: 0;
    background-color: #eaeaf0;
    border-radius: 1px;
    opacity: 40%;
}

.active_conn {
    background-image: linear-gradient( 95deg, #2EAAF2 30%, #1F75A6 60%, #134866 100%);
}

.completed_conn {
    background-image: linear-gradient( 95deg, #2EAAF2 30%, #1F75A6 60%, #134866 100%);
}